body {
  background-color: #e3e3e3;
  overflow: hidden;
}

.drag-widget-title {
  background-color: #0000ff;
  color: white;
  font-size: 24px;
  padding: 10px;
}

.drag-widget-container {
  width: 20%;
  height: 20%;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 98;
}

#block {
  background-color: #80ccff;
  top: 10%;
  left: 20%;
}

/*  -----------------------------  */

.right-click-menu {
  position: absolute;
  z-index: 999;
  background: grey;
  min-width: 100px;
  height: 100px;
  padding: 20px 40px;
}
